<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TSN.ERP.SharedComponents.Properties.Settings.TestAccountability_dataConnectionString"
            connectionString="Data Source=misserver;Initial Catalog=TestAccountability_data;User ID=RW;Password=RW"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>