<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ASI.Office.CRM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<!--<add name="ASI-CRMConnectionString" connectionString="Data Source=misserver;Initial Catalog=ASI-CRM;Integrated Security=False" providerName="System.Data.SqlClient"/>-->
		<add name="ASI-CRMConnectionString" connectionString="integrated security=false;data source=misserver;persist security info=False;initial catalog=ASI-CRM;user id=RW;password=RW" />
	</connectionStrings>

	<location path="App_Themes">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Scripts">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Images">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Login.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	
	
	<system.web>
		<authentication mode="Forms">
			<forms defaultUrl="Home.aspx" loginUrl="Login.aspx" name=".ASICRMFORM"  />
		</authentication>
		<authorization>
			<deny users="?"/>
			<allow users="*"/>
		</authorization>
		<httpRuntime requestValidationMode="2.0" />
		<webParts>
			<personalization defaultProvider="AspNetSqlPersonalizationProvider">
				<authorization>
					<allow users="*" verbs="enterSharedScope" />
				</authorization>
				<providers>
					<remove name="AspNetSqlPersonalizationProvider" />
					<add name="AspNetSqlPersonalizationProvider" type="System.Web.UI.WebControls.WebParts.SqlPersonalizationProvider" connectionStringName="ASI-CRMConnectionString" applicationName="/" />
				</providers>
			</personalization>
		</webParts>
		<customErrors mode="Off" />
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add assembly="RealWorld.Grids" namespace="RealWorld.Grids" tagPrefix="rwg" />
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
				<add tagPrefix="ftb" namespace="FreeTextBoxControls" assembly="FreeTextBox"/>
			</controls>
		</pages>
		<!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
		<identity impersonate="true" />
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<remove assembly="Microsoft.VisualStudio.Web.Runtime, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<!--<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="VsWebSite.Interop, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<httpHandlers>
			<add verb="GET" path="FtbWebResource.axd" type="FreeTextBoxControls.AssemblyResourceHandler, FreeTextBox" />
		</httpHandlers>
	</system.web>
	<system.net>
		<defaultProxy useDefaultCredentials="true" enabled="true" />
		<!--<defaultProxy>
      <proxy    bypassonlocal="True"   proxyaddress="http://ISA3:8080"  />
    </defaultProxy>-->
		<authenticationModules>
			<add type="System.Net.DigestClient" />
			<add type="System.Net.NegotiateClient" />
			<add type="System.Net.KerberosClient" />
			<add type="System.Net.NtlmClient" />
			<add type="System.Net.BasicClient" />

		</authenticationModules>
		<connectionManagement>
			<add address="*" maxconnection="100" />
		</connectionManagement>
		<webRequestModules>
			<add prefix="http" type="System.Net.HttpRequestCreator" />
			<add prefix="https" type="System.Net.HttpRequestCreator" />
			<add prefix="file" type="System.Net.FileWebRequestCreator" />
		</webRequestModules>
	</system.net>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
	<appSettings>
		<add key="ReportWriterURL" value="http://163.121.134.115/ReportWriter/Default.aspx" />
		<add key="CRMBuildVersion" value="74" />
		<add key="CRMVersionInfo" value="ASI Office v1.0 Build #74 Aug-31-2012" />
		<add key="wsReports.Reports" value="http://163.121.134.115/WS-ReportsRW/Reports.asmx" />
		<!--<add key="MailerSMTPServer" value="mail.tsndomain.local"/>-->
		<add key="MailerSMTPServer" value="mail.steelnetwork.com" />
		<add key="WSMailer.MailerService" value="http://accountability/TSNMailer/MailerService.asmx" />
		<add key="SSSData.SSSData" value="http://www.steelsmartsystem.com/services/Services/SSSData.asmx" />
		<add key="UserNameSSS" value="sadmin" />
		<add key="PasswordSSS" value="m9!8sw1ds#k24!3" />
		<add key="ELSData.DataService" value="http://www.appliedscienceint.com/ASIService/DataService.asmx" />
		<add key="UserNameELS" value="aadmin" />
		<add key="PasswordELS" value="kr2!5!!7ffg1!s21#" />
		<add key="RequestQuote.dataservice" value="http://www.extremeloading.com/Services/dataservice.asmx" />
		<add key="UserNameRequestQuote" value="Dataadmin" />
		<add key="PasswordRequestQuote" value="fg1!s2!5!!7f21#kr" />
	</appSettings>

	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
	</entityFramework>
</configuration>