<?xml version="1.0" encoding="utf-8" ?> 

<configuration>

  <CONNECTIONDATA id="1" name="4A-Pharma" >
    <Name>4A-Pharma</Name>
    <UsersQuery>SELECT [EmpID] AS UserID, [EmpName] AS UserName FROM [BMD-Employees]</UsersQuery>
    <UserDisplayedField>UserName</UserDisplayedField>
    <UserIDField>UserID</UserIDField>
    <Connection>Data Source=MISServer;Initial Catalog=BMD;User ID=RW; Password=RW</Connection>
    <DModelPass>ReportWriter/Data/4A-Pharma.xml</DModelPass>
    <MRTFileName>Data/4A-PharmaReport.mrt</MRTFileName>
    <WSDSReportURL>http://localhost/Accountability_WS/DataSetReports.asmx</WSDSReportURL>
  </CONNECTIONDATA>
  
  <CONNECTIONDATA id="2" name="Accountability" >
    <Name>Accountability</Name>
    <UsersQuery>SELECT UserID,UserName FROM SEC_Users Order By UserName</UsersQuery>
    <UserDisplayedField>UserName</UserDisplayedField>
    <UserIDField>UserID</UserIDField>
    <Connection>Data Source=MISServer;Initial Catalog=TestAccountability_data;User ID=RW; Password=RW</Connection>
    <DModelPass>ReportWriter/Data/Accountability.xml</DModelPass>
    <MRTFileName>Data/AccountabilityReport.mrt</MRTFileName>
	<WSDSReportURL>http://localhost/Accountability_WS/DataSetReports.asmx</WSDSReportURL>
  </CONNECTIONDATA>
  
</configuration>