<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConnTest.Properties.Settings.BMDConnectionString"
            connectionString="Data Source=YAHMED;Initial Catalog=BMD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>