@import url("E:%5Cwork%5CAccountabilty%5CCSS%20for%20accountability%5CAcc1.css");

html               
{
  /*  scrollbar-face-color: #10618C;                   /* change colors of scroll bar  */
/*    scrollbar-shadow-color: #ffffff;
    scrollbar-highlight-color: #ffffff ;
    scrollbar-3dlight-color: #12618C;
    scrollbar-darkshadow-color: #12618C;
    scrollbar-track-color: #A7B0B2;
    scrollbar-arrow-color: #000000; */
}

body {
	font-family: tahoma;
	font-size: 11px;
	color: #FFFFFF;
	/*background-color: #C0CCDA;*/
	background-color: #61A3C6;
	/*background-color: #94A6AD;*/
	/*background-color: #e6e6e6;*/
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-image: url(Go/images/BG_gradient.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	background-attachment: fixed;
}
#tableLayout {
	background-color: #DFEBF3;
	width: 100%;
	height:100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.logobar_BG {
	background-repeat: repeat-x;
	background-image: url(Go/images/Logobar.jpg);
	margin: 0px;
	padding: 0px;
	background-color: #EAEFFE;
	height:82px;
}
.AppTitle {
	color: #FFFFFF;
	font-family: tahoma, Verdana, Arial;
	font-weight: normal;
}


.RegularText {
	font-family: tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.tabtext {
	font-family: Verdana ;
	font-size: 11px;
	/*font-weight: bold;*/
	color: #FFFFFF;
	text-decoration: none;
}

.tabselectedtext {
	font-family: tahoma;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
}


.selectedTap {
	background:#D7D5D5 url(../cssimages/SelectedTab.gif) no-repeat;
	color:#6c000a;
	text-align:center;
	border:0px solid #000;
	width:106px;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	height:37px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px;
}
.unselectedTap {
	background:#D7D5D5 url(../cssimages/UnselectedTab.gif) no-repeat;
	color:#FFFFFF;
	text-align:center;
	border:0px solid #000;
	width:106px;
	text-decoration: none;
	height:37px;
	padding: 0px;
}

.toptd {
	background-image:url(Go/images/TopBanner.gif)    /* background image for top td  */;
	background-repeat: repeat-x;
	margin: 0px;
	height: 35px;
	padding: 0px;
	
}

.bgtoplinks {
	background-color: #003366;
	margin: 0px;
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	height: 27px;
}
.bgsublinks
{
    background-image: url(Go/images/SubLinks/SubLinks_Bar.jpg);
}
.bgbottomlinks 
{
    background-image:url(Go/images/TopBanner.gif);
    background-repeat: repeat-x;
	background-color: #003366;
	margin: 0px;
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	height: 27px;
}

.bgrightToplinks {

	background-image: url(../cssimages/Rightcontenttabs.gif);
}

.bgleftRToplinks {

	background-image: url(../cssimages/Leftcontenttabs.gif);
}


.toptdhome{                                 /* background image for split td home page only  */
    background-image:url(../cssimages/topbannerhome.gif) 
}


.secondtd {                            /* background color for second td  */
	background-color: #8ba8c9;
	border-bottom-width: 5px;
	border-bottom-color: #868c8d;
	border-bottom-style: solid;
}

.secondtdpic {                      /* photo in second td on home page only */
	background-color: #8ba8c9;
	background-attachment: fixed;
	background-image: url(../cssimages/employeespic.gif);
	background-repeat: no-repeat;
	background-position: left top;
	border-bottom-width: 5px;
	border-bottom-color: #868c8d;
	border-bottom-style: solid;
}


.thirdtd {                        /* background color for third td*/
	background-color: #10618c;
}


 
 
 .slectedtopnav {
    color: #044476;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	font-size:13px;
	text-decoration: none;
}


.unslectedtopnav {
    color: #3d107b;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	font-size:13px;
	text-decoration: none;
}



.selectedsublinks {                      /* slected sub navigation links style */
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	/*color: #a4331c;*/
	color: #993300;
	text-decoration: none;
	cursor : hand;
}
 

.unselectedsublinks {                 /* unslected sub navigation links style */
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #3d3d3d;
	text-decoration: none;
	cursor : hand;
}

.p {                                  /* paragraph style */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

.whitelabels {              /* white labels for data gride in home page style */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
}


.Accountabiltylabel {                     /* top accountability label in all pages style */
	font-weight: normal;
	background-color: #003366;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}



.formslabels {                                  /* forms labels */
	font-family: tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	/*text-align: left;*/
}

.formslabelsBlack {                                  /* forms labels */
	font-family: tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	/*text-align: left;*/
}



.smalllables {                /* small labels for forms like (city,State,zip) style */
	font-family: tahoma;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #fff;
	text-decoration: none;
}
.ToolBar {
	background-image: url(Go/images/Functions_Bar.jpg);
	background-repeat: repeat-x;
	border: solid 1 #FFFFFF;
	color: #000000;
	height:31px;
}



.labelarea {                   /* lable address bar for any top part like( Employee's information)*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #737373;
	align : center;
	border: 1px solid #000000;
	padding: 5px 70px 5px 70px;
}


 /*  slected buttons style */
.slectedbutton 
{
    color:#003366;
    text-align:center;
    font-weight:bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    background-color: #FFFFFF;
    background-repeat: repeat-x;
    border: 1px solid #003366
    ;/*width:80;*/
}


.unslectedbutton {             /*  unslected buttons style */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}


.inputtext {            /* input text style */
	margin-bottom: 1.5px;
	width:auto;
	color: #003366;
	background-color: #EEEEEE;
	border: 1px solid #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	/*font-style: italic;*/
	/*font-weight: bold;*/
	text-decoration: none;
}

.inputtextControl {            /* input text style */
	margin-bottom: 1.5px;
	width:auto;
	color: #000000;
	background-color: #EEEEEE;
	border: 1px solid #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	/*font-style: italic;*/
	/*font-weight: bold;*/
	text-decoration: none;
}

.inputtextControlB {            /* input text style */
	margin-bottom: 1.5px;
	width:auto;
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	/*font-style: italic;*/
	/*font-weight: bold;*/
	text-decoration: none;
}



.textarea {                 /* textarea style */
	margin-bottom: 1.5px;
	width: auto;
	color:Black;
	background-color: #EEEEEE;
	border: 1px solid #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	/*font-style: italic;*/
	font-weight: bold;
	text-decoration: none;
	text-transform: none;
	/*scrollbar-face-color: #12618C;
    scrollbar-shadow-color: #ffffff;
    scrollbar-highlight-color: #ffffff;
    scrollbar-3dlight-color: #12618C;
    scrollbar-darkshadow-color: #12618C;
    scrollbar-track-color: #12618C;
    scrollbar-arrow-color: #fff;*/
}



.textlist {                 /* text list style */
	margin-bottom: 1.5px;
	width: auto;
	color: #666666;
	background-color: #EEEEEE;
	border: 1px solid #7F9DB9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	text-decoration: none;
	text-transform: none;
	scrollbar-face-color: #12618C;
    scrollbar-shadow-color: #ffffff;
    scrollbar-highlight-color: #ffffff;
    scrollbar-3dlight-color: #12618C;
    scrollbar-darkshadow-color: #12618C;
    scrollbar-track-color: #12618C;
    scrollbar-arrow-color: #ffffff;
}


.gridheader {                /* grid header styel */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	background-color: #fafafa;
	margin: 1px;
	padding: 2px;
	width: 668px;
	border: 1px solid #000000;
	font-weight: bold;
	text-decoration: none;
}


.griditem{                        /* grid item style */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	display: block;
	width: 668px;
	border: 1px solid #000000;
	background-color: #c7c7c7;
}


.gridalternativeitem {             /* grid alternative item style */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	background-color: #dadada;
	margin: 1px;
	padding: 2px;
	width: 668px;
	border: 1px solid #000000;
	font-weight: normal;
	text-decoration: none;
}



.gridcodedlabel {                /* grid coded label style */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	background-color: #fafafa;
	margin: 1px;
	padding: 2px;
	width: 668px;
	border: 1px solid #000000;
	font-weight: normal;
	text-decoration: none;
}



.gridpager {                       /* grid pager style */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	background-color: #fafafa;
	margin: 1px;
	padding: 2px;
	width: 668px;
	border: 1px solid #000000;
	font-weight: normal;
	text-decoration: none;
}


.acctotal {                       /* total header in the accountability sheet */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	font-weight: bold;
}

.blueBorder  /* blue border*/
{
BORDER-RIGHT: #003366 1px solid; 
BORDER-TOP: #003366 1px solid; 
BORDER-LEFT: #003366 1px solid; 
BORDER-BOTTOM: #003366 1px solid 
}
fieldset
{
border: 1px solid  #08609E;
width: 400px;
/*background:#657809;*/
}



.headertd   /* dark blue */
{
	color:#FFF;
	text-align:center;
	font-weight:normal;
	font-family: tahoma;
	font-size: 11px;
	text-decoration: none;
	background-color: #1A4170;
	background-image: url(Go/images/Toolbar_new.gif);
	background-repeat: repeat-x;
	height:20px;
}

.headerFont   /* dark blue */
{ 
	font-weight:bolder;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.yellowtd   /* count based tasks */
{ 
	background:#F9F402
url("go/images/grdyellow.gif") 	repeat-x; color:#000;  text-align:center; border-top:1px solid #000;	
}

.whitetd   /* hour based tasks */
{
	color:#1c4473;
	text-align:center;
	background-color: #C8D3E2;
	background-image: url(Go/images/gridHeader.gif);
	background-repeat: repeat-x;
	font-family: tahoma;
	font-size: 11px;
	text-decoration: none;
	/*Next line has been added by Hamdy Ahmed*/
	height:20px;
}
.whitetd2   /* hour based tasks */
{
	color:Green;	
	font-family: tahoma;
	font-size: 11px;
	text-decoration: none;
	/*Next line has been added by Hamdy Ahmed*/
}

.bluetd   /* responsibilities */
{ 
	background:#02CECF url("go/images/grdblue.gif") repeat-x; 
    color:#000; 
    text-align:center;
    border:1px solid #000;	
    font-weight: normal;
    font-family: tahoma;
	font-size: 11px;
	text-decoration: none;
}

.greentd   /* projects */
{ 
	background: #7DC525 url("go/images/grdgreen.gif") repeat-x; 
	color:#000;  
	text-align:center; 
	border:1px solid #000;	
	font-weight: normal;
	font-family: tahoma;
	font-size: 11px;
	text-decoration: none;
}
.normattasktd   /* Tasks */
{ 
	background: url("go/images/grdnormal.gif") 	repeat-x; 
	color:#000;  
	text-align:center; 
	border:1px solid #000;	
	font-weight: normal;
	font-family: tahoma;
	font-size: 11px;
	text-decoration: none;
}
.FunctionBlock {
	font-family: tahoma;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #28578E;
	background-image: url(Go/images/Blocks_gradient.gif);
	background-repeat: repeat-x;
	background-position: top;
	border: thin solid #FFFFFF;
}
.FunctionBlockEmp {
	font-family: tahoma;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	background-color: #E2E6E9;
	border: solid 1 #000000;
}
.FunctionBlockTable {
	font-family: tahoma;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	background-color: #ffffff;
	border: solid 1 #000000;
}


.orangetd   /* projects */
{ 
	background:#ED8641  
url("go/images/grdorange.gif") 	repeat-x; color:#000;  text-align:center; border-top:1px solid #000;	
}

.graytd   /* projects */
{ 
	background:#595959      
url("go/images/grdgray.gif") 	repeat-x; color:#000;  text-align:center; border-top:1px solid #FFF;	
	color : #fff;
}

.nantasks   /* uncountable tasks */
{ 
	background:#FFFFFF
	color:#FF0000;  text-align:center; border-top:1px solid #FFF;	
}

.bsnormaltd 
{
	background:#d8e6f8;
    color:#000;
    padding:0px;
    text-align:left;
    border:solid 1 #FF0000;
    font-family: tahoma;
    font-size: 11px;
 }
 .bsnormaltdOld 
{
	background:#d8e6f8;
    color:#000;
    padding:0px;
    text-align:left;
    border:solid 1 #FF0000;
    font-family: tahoma;
    font-size: 11px;
 }

.bsalternativetd 
{
    background:#e8edf3;
	color:#000;
	padding:0px;
	text-align:left;
	border:solid 1 #000000;
	font-family: tahoma;
	font-size: 11px;
}
.bsalternativetdOld 
{
    background:#e8edf3;
	color:#000;
	padding:0px;
	text-align:center;
	border:solid 1 #000000;
	font-family: tahoma;
	font-size: 11px;
}

 .bsFootertd {
	color:#000;
	font-weight:bold;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	background-color: #61A3C6;
	background-repeat: repeat-x;
	height: 90px;
		 
}

.selectedheadertd   /* selected day */
{ 
	background:#10618C url("go/images/grddarkblue.gif") repeat-x; 
	color:#F9F402;  
	text-align:center; 
	border-top:2px solid #FFF;
	border-bottom:2px solid #FFF;	
	font-weight:bolder;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

/*-------Accountability style sheet----------------------------------------------------*/
.normaltask   /* white */
{
	color:#000;
	font-family: tahoma;
	font-size: 11px;
	text-decoration: none;
    /*background-color: #DAE5F2;*/
    background-color: #FFFFFF;
}

.counttask   /* yellow */
{
	background:#F9F402      
url("go/images/grdyellow.gif") repeat-x;
	color:#000;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.nctask   /* font only is red, bg is white */
{
	background:#D7DBDD    
url("go/images/grdwhite.gif") repeat-x;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color:#FF0000;
}

.completetask   /* font only is red, bg is white */
{
	background-color : #B27FA8;
	/*Commented for later usage to use background image instead of color(original case that did not admired from Rod)
	background:#B27FA8   
    url("go/images/grdviolet.gif") 	 repeat-x;
	color:#000000;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	-----------------------------------------------------------*/	
	color:#FFFFFF;
	font-size: 12px;
}

.resp   /* font only is red, bg is white */
{
	color:#000;
	font-size:13px;
	font-family: tahoma;
	font-size: 11px;
	background-color: #00C0C0;			
}
.TableGrid {
	border: thin solid #FFFFFF;
}


.offday_offday  /*  orange */
{
	background-color : #ED8641;
	text-align:center; 
	/*Commented for later usage to use background image instead of color(original case that did not admired from Rod)
	background:#ED8641  url("go/images/grdorange.gif") repeat-x; 
	color:#000;  text-align:center; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px; 
	-----------------------------------------------------------*/
}

.offday  /*  orange */
{
	background:#ED8641  url("go/images/grdorange.gif") repeat-x; 
	color:#000;  text-align:left; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px; 
}
.offdayOld  /*  orange */
{
	background:#ED8641  url("go/images/grdorange.gif") repeat-x; 
	color:#000;  text-align:center; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px; 
}

.project   /* font only is red, bg is white */
{
	color:#000;
	font-size:11px;
	font-family: tahoma;
	font-weight: normal;
	text-decoration: none;
	background-color: #75BC1F;
}

.selectedcell
{
	/*background:#595959  
	url("go/images/grdgray.gif") 
	repeat-x; color:#fff;  text-align:center; 
	font-weight:bold;*/

	border-color:#000000;
	border-width:2px;
	border-style:solid;
	border-spacing:1px;
	color:#000000;
	text-align:center;
	font-weight:normal;
	font-size:11px;
	font-family: tahoma;
	background-color: #FFCC99;
}

.selectedrow   /* projects */
{ 
	
	color:#fff; 
	text-align:center; 
	font-weight:bold;
	
}

.errmsg
{
	font-size: 14px;
	color: red;
}
.stdDeleteBtn
{
	background-image: url(Go/images/Buttons/delet_n.jpg);	
	border-top-style: none;	
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;	
	background-repeat: no-repeat;
	background-color: white;
	width: 26px;
	height: 26px;
}
.stdDeleteTeam
{
    background-image: url(Go/images/Buttons/deletTeam_n.jpg);
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
    background-repeat: no-repeat;
    background-color: white;
    width: 26px;
    height: 26px;
}
.stdSaveBtn
{
	background-image: url(Go/images/Buttons/Save_update_n.jpg);
	width: 26px;
	border-top-style: none;
	background-repeat: no-repeat;
	border-right-style: none;
	border-left-style: none;
	height: 26px;
	border-bottom-style: none;
	background-color: white;
}
.stdNewBtn
{
	background-image: url(Go/images/Buttons/new_project_n.jpg);
	width: 26px;
	border-top-style: none;
	background-repeat: no-repeat;
	border-right-style: none;
	border-left-style: none;
	height: 26px;
	border-bottom-style: none;
	background-color: white;
}
.stdNewEmployee
{
    background-image: url(Go/images/Buttons/AddEmployee_n.jpg);
    width: 107px;
    border-top-style: none;
    background-repeat: no-repeat;
    border-right-style: none;
    border-left-style: none;
    height: 30px;
    border-bottom-style: none;
    background-color: white;
}
.stdNewProject
{
    background-image: url(Go/images/Buttons/AddProject_n.jpg);
    width: 101px;
    border-top-style: none;
    background-repeat: no-repeat;
    border-right-style: none;
    border-left-style: none;
    height: 26px;
    border-bottom-style: none;
    background-color: white;
}
.stdDeleteProject
{
    background-image: url(Go/images/Buttons/DeleteProject_n.jpg);
    width: 113px;
    border-top-style: none;
    background-repeat: no-repeat;
    border-right-style: none;
    border-left-style: none;
    height: 26px;
    border-bottom-style: none;
    background-color: white;
}
.stdUpdateEmployee
{
    background-image: url(Go/images/Buttons/UpdateEmployee_n.jpg);
    width: 138px;
    border-top-style: none;
    background-repeat: no-repeat;
    border-right-style: none;
    border-left-style: none;
    height: 30px;
    border-bottom-style: none;
    background-color: white;
}
.resetButton
{
    background-image: url(Go/images/Buttons/Reset_n.jpg);
    width: 65px;
    border-top-style: none;
    background-repeat: no-repeat;
    border-right-style: none;
    border-left-style: none;
    height: 30px;
    border-bottom-style: none;
    background-color: white;
}
.stdFindEmployee
{
    background-image: url(Go/images/Buttons/FindEmployee_n.jpg);
    width: 119px;
    border-top-style: none;
    background-repeat: no-repeat;
    border-right-style: none;
    border-left-style: none;
    height: 30px;
    border-bottom-style: none;
    background-color: white;
}
.stdNewTeam
{
	background-image: url(Go/images/Buttons/CreatTeam_n.jpg);
	width: 26px;
	border-top-style: none;
	background-repeat: no-repeat;
	border-right-style: none;
	border-left-style: none;
	height: 26px;
	border-bottom-style: none;
	background-color: white;
}
.stdNewJobTitle
{
	background-image: url(Go/images/Buttons/NewJobTitle_n.jpg);
	width: 26px;
	border-top-style: none;
	background-repeat: no-repeat;
	border-right-style: none;
	border-left-style: none;
	height: 26px;
	border-bottom-style: none;
	background-color: white;
}
.stdNewResponsibility
{
	background-image: url(Go/images/Buttons/NewResponsibilty_n.jpg);
	width: 26px;
	border-top-style: none;
	background-repeat: no-repeat;
	border-right-style: none;
	border-left-style: none;
	height: 26px;
	border-bottom-style: none;
	background-color: white;
}
.stdEditbtn
{
	background-image: url(Go/images/Buttons/EditJobTitle_n.jpg);
	width: 26px;
	border-top-style: none;
	background-repeat: no-repeat;
	border-right-style: none;
	border-left-style: none;
	height: 26px;
	background-color: white;
	border-bottom-style: none;
}
.stdEditChart
{
	background-image: url(Go/images/Buttons/EditJobTitle_n.jpg);
	width: 26px;
	border-top-style: none;
	background-repeat: no-repeat;
	border-right-style: none;
	border-left-style: none;
	height: 26px;
	background-color: white;
	border-bottom-style: none;
}
.stdEditJobTitle
{
	background-image: url(Go/images/Buttons/EditJobTitle_n.jpg);
	width: 26px;
	border-top-style: none;
	background-repeat: no-repeat;
	border-right-style: none;
	border-left-style: none;
	height: 26px;
	background-color: white;
	border-bottom-style: none;
}
.stdCompleteBtn
{
    background-image: url(Go/images/Buttons/complete-project_n.jpg);
    width: 26px;
    border-top-style: none;
    background-repeat: no-repeat;
    border-right-style: none;
    border-left-style: none;
    height: 26px;
    border-bottom-style: none;
    background-color: white;
}
.stdFindBtn
{
    background-image: url(Go/images/Buttons/Find_n.jpg);
    width: 26px;
    border-top-style: none;
    background-repeat: no-repeat;
    border-right-style: none;
    border-left-style: none;
    height: 26px;
    background-color: white;
    border-bottom-style: none;
}
.stdCancelBtn
{
    background-image: url(Go/images/Buttons/Back_n.jpg);
    width: 26px;
    border-top-style: none;
    background-repeat: no-repeat;
    border-right-style: none;
    border-left-style: none;
    height: 26px;
    background-color: white;
    border-bottom-style: none;
}
.stdAddBtn
{
    background-image: url(Go/images/Buttons/AddSelectedProject_n.jpg);
    width: 26px;
    border-top-style: none;
    background-repeat: no-repeat;
    border-right-style: none;
    border-left-style: none;
    height: 26px;
    background-color: white;
    border-bottom-style: none;
}
.stdAddProject
{
    background-image: url(Go/images/Buttons/AddSelectedProject_n.jpg);
    width: 26px;
    border-top-style: none;
    background-repeat: no-repeat;
    border-right-style: none;
    border-left-style: none;
    height: 26px;
    background-color: white;
    border-bottom-style: none;
}
.stdRemoveProject
{
    background-image: url(Go/images/Buttons/RemoveSelectedProject_n.jpg);
    width: 26px;
    border-top-style: none;
    background-repeat: no-repeat;
    border-right-style: none;
    border-left-style: none;
    height: 26px;
    background-color: white;
    border-bottom-style: none;
}
.stdRemoveBtn
{
    background-image: url(Go/images/Buttons/delet_n.jpg);
    width: 26px;
    border-top-style: none;
    background-repeat: no-repeat;
    border-right-style: none;
    border-left-style: none;
    height: 26px;
    background-color: white;
    border-bottom-style: none;
}


 .gridLink {
	font-family: Tahoma;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	text-decoration: underline,none,none,none ;
	color: #000000;
	text-align:left;
/*	text-align: center;*/
	
}

.invisableButton
{
	visibility:hidden;
	}

.MyCalendar .ajax__calendar_container {
    border:1px solid #000000;
    background-color: white;
    
    color: black;
}
.MyCalendar .ajax__calendar_other .ajax__calendar_day,
.MyCalendar .ajax__calendar_other .ajax__calendar_year {
    color: black;
}
.MyCalendar .ajax__calendar_hover .ajax__calendar_day,
.MyCalendar .ajax__calendar_hover .ajax__calendar_month,
.MyCalendar .ajax__calendar_hover .ajax__calendar_year {
    color: black;
}
.MyCalendar .ajax__calendar_active .ajax__calendar_day,
.MyCalendar .ajax__calendar_active .ajax__calendar_month,
.MyCalendar .ajax__calendar_active .ajax__calendar_year {
    color: black;
    font-weight:bold;
}

.MyCalendar .ajax__calendar_days .ajax__calendar_day
{
	color:black;
}
.MyCalendar .ajax__calendar_header
{
	color:#000000;
	background-color:#FFFFFF;
}

.MyCalendar .ajax__calendar_header .ajax__calendar_prev,
.MyCalendar .ajax__calendar_header .ajax__calendar_next
{
	color:#000000;
	font-weight:bold;
}
.MyCalendar .ajax__calendar_body .ajax__calendar_days
{
	color:#000000;
}
.MyCalendar .ajax__calendar_body .ajax__calendar_days .ajax__calendar_day
{
	color:#000000;
}
.MyCalendar .ajax__calendar_body .ajax__calendar_days .ajax__calendar_dayname
{
 background-color:#FFFFFF;
 color:#000000;
 font-weight:bold;
}
.MyCalendar .ajax__calendar_footer
{
	color:#000000
}
.HeaderGroupStyle
{
 font-family: tahoma; 
 font-size:14px;
 font-weight:bold;
 color:#000000;
 text-align:left;
 text-indent:5px;
 background-color:#ffffff;	
 height:25px;
}