<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<clear/>
				<add name="X-UA-Compatible" value="IE=EmulateIE7"/>
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="asimail.tsndomain.local"/>
			</smtp>
		</mailSettings>
	</system.net>
	<system.web>
		<!--<pages>
			<controls>				
			</controls>
		</pages>-->
		<httpHandlers>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
			<add verb="GET" path="ScriptResource.axd" type="Microsoft.Web.Handlers.ScriptResourceHandler" validate="false"/>
			<!-- Register the ajax handler -->
			<add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax"/>
			<!-- 
			Please note, this is only for ASP.NET 1.0 and 1.1. 
			This line does not need to be included in ASP.NET 2.0
			-->
			<add verb="GET" path="FtbWebResource.axd" type="FreeTextBoxControls.AssemblyResourceHandler, FreeTextBox"/>
			<!--<add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
		</httpHandlers>
		<!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
		<compilation defaultLanguage="c#" debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<!--<add assembly="Microsoft.Office.Interop.Visio, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>-->
				<add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
		</compilation>
		<!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
		<!--<customErrors mode="On" defaultRedirect="ErrorPage.aspx?Redirect=1"/>-->
		<customErrors mode="Off"/>
		<!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
		<authentication mode="Windows"/>
		<!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
		<authorization>
			<allow users="*"/>
			<!-- Allow all users -->
			<!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
		</authorization>
		<!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="600"/>
		<!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<httpRuntime executionTimeout="3000000" maxRequestLength="4096" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true"/>
		<xhtmlConformance mode="Legacy"/>
	</system.web>
	<appSettings>
		<!-- Accountability Web Services URLs -->
		<add key="TSN.ERP.WebGUI.GUIWS.GUI" value="http://localhost/Accountability_WS/GUI.asmx"/>
		<add key="TSN.ERP.WebGUI.ProjectsWS.ProjectsService" value="http://localhost/Accountability_WS/ProjectsService.asmx"/>
		<add key="TSN.ERP.WebGUI.AccountabilityWS.AccountabilityService" value="http://localhost/Accountability_WS/AccountabilityService.asmx"/>
		<add key="TSN.ERP.WebGUI.CompanyStruct.CompanyStucture" value="http://localhost/Accountability_WS/CompanyStucture.asmx"/>
		<add key="TSN.ERP.WebGUI.ContactsWS.ContactsService" value="http://localhost/Accountability_WS/contactsservice.asmx"/>
		<add key="TSN.ERP.WebGUI.CrysatlReportsWS.CrysatlReportsService" value="http://localhost/Accountability_WS/CrysatlReportsService.asmx"/>
		<add key="TSN.ERP.WebGUI.EmployeesWS.EmployeesService" value="http://localhost/Accountability_WS/EmployeesService.asmx"/>
		<add key="TSN.ERP.WebGUI.JobTitlesWS.JobTitles" value="http://localhost/Accountability_WS/JobTitles.asmx"/>
		<add key="TSN.ERP.WebGUI.OrgnizationChartsWS.OrgnizationChartsMangmentService" value="http://localhost/Accountability_WS/OrgnizationChartsMangmentService.asmx"/>
		<add key="TSN.ERP.WebGUI.SecurityWS.SecurityManagement" value="http://localhost/Accountability_WS/SecurityManagement.asmx"/>
		<add key="TSN.ERP.WebGUI.SharedCompWS.ERPSessionServices" value="http://localhost/Accountability_WS/ERPSessionServices.asmx"/>
		<add key="TSN.ERP.WebGUI.TaskWS.TasksService" value="http://localhost/Accountability_WS/TasksService.asmx"/>
		<add key="TSN.ERP.WebGUI.TeamsWS.TeamsService" value="http://localhost/Accountability_WS/TeamsService.asmx"/>
		<add key="TSN.ERP.WebGUI.GeneralWS.GeneralService" value="http://localhost/Accountability_WS/generalService.asmx"/>
		<add key="TSN.ERP.WebGUI.MFGAccWS.MFGAccountability" value="http://localhost/Accountability_WS/MFGAccountability.asmx"/>
		<add key="TSN.ERP.WebGUI.ReportWriterWS.ReportWriter" value="http://localhost/Accountability_WS/ReportWriter.asmx"/>
		<add key="TSN.ERP.WebGUI.MasterWS.ERPMasterService" value="http://localhost/Accountability_WS/ERPMasterService.asmx"/>
		<add key="TSN.ERP.WebGUI.MFGAccWS.MFGAccountability" value="http://localhost/Accountability_WS/MFGAccountability.asmx"/>
		<add key="TSN.ERP.WebGUI.ReportWriterWS.ReportWriter" value="http://localhost/Accountability_WS/ReportWriter.asmx"/>
		<add key="TSN.ERP.WebGUI.MasterWS.ERPMasterService" value="http://localhost/Accountability_WS/ERPMasterService.asmx"/>
		<add key="TSN.ERP.WebGUI.TimingCompanySettings.TimingCompanySettings" value="http://localhost/Accountability_WS/TimingCompanySettings.asmx"/>
		<add key="TSN.ERP.WebGUI.TimingWS.TimingWS" value="http://localhost/Accountability_WS/TimingService.asmx"/>
		<add key="TSN.ERP.WebGUI.TimingWS.TimingService" value="http://localhost/Accountability_WS/TimingService.asmx"/>
		<!-- ========================================================================================================  -->
		<!-- Timing Egypt Web Service URL-->
		<add key="TSN.ERP.WebGUI.TimingWS_EG.TimingCheckInOut" value="http://localhost/TimingWS/TimingCheckInOut.asmx"/>
		<!-- ========================================================================================================  -->
		<!-- Timing USA Web Service URL-->
		<add key="TSN.ERP.WebGUI.EAMWS.TimingWS" value="http://localhost/EAM_WS/TimingWS.asmx"/>
		<!-- ========================================================================================================  -->
		<!-- Report Writer And Report Writer Web Service URLs -->
		<add key="reportWriterURL" value="http://localhost/ReportWriter/Default.aspx"/>
		<add key="TSN.ERP.WebGUI.ReportWriterWS.Reports" value="http://localhost/WS-ReportsRW/Reports.asmx"/>
		<!-- ========================================================================================================  -->
		<!-- Mailer Module Settings -->
		<add key="TSN.ERP.WebGUI.WSMailer.MailerService" value="http://localhost/TSNMailer/MailerService.asmx"/>
		<add key="ServerName" value=""/>
		<add key="MailerSMTPServer" value="asimail.tsndomain.local"/>
		<add key="MailerSMPTPort" value="25"/>
		<add key="MailerUserName" value=""/>
		<add key="MailerUserPwd" value=""/>
		<!-- ========================================================================================================  -->
		<!-- Other Settings -->
		<!--This key to detrmine the type of reporting tool(1 for crystal)and(2 for Stimulsoft )-->
		<add key="reportingTool" value="2"/>
		<add key="SMTPServer" value="asimail.tsndomain.local"/>
		<add key="SMTPServerInternal" value="asimail.tsndomain.local"/>
		<add key="SMTPServerExternal" value="mail.steelnetwork.com"/>
		<add key="MailingType" value="1"/>
		<!-- 0:Internal, 1:External -->
		<add key="UseMailerModule" value="No"/>
		<add key="DefaultTo" value=""/>
		<add key="DefaultCC" value="rod53@steelnetwork.com"/>
		<add key="CompanyName" value="The Steel Network US"/>
		<add key="LoginImage" value="0"/>
		<!-- 0:Egypt Background, 1:USA Background -->
    <add key="NetworkAccess" value="0"/>
    <!-- 0:Local Area Network Access, 1:Internet Access -->
    <add key="BuildNo" value="Build 57"/>
		<!-- Please put Report ID from ReportWriter Database for OrganizationChart report -->
		<add key="OrgChartRepID" value="725"/>
		<add key="DictionaryFolder" value="dic"/>
		<!-- ========================================================================================================  -->
	</appSettings>
</configuration>
