<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<CONFIGURDATA id="1" name="ConfigurationData" >
    <ConnectionLocation>C:\Inetpub\wwwroot\AccountabilityWS\Configurations\ConnectionStrings.xml</ConnectionLocation>
	<MaxSessions>20</MaxSessions> 
	<SessionTimeOut>20</SessionTimeOut> 
	<IdleSessionTimeOut>5</IdleSessionTimeOut>
</CONFIGURDATA>

</configuration>