.helpbody {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	color: #000000;
	text-decoration: none;
	/*background-color: #f5f5f5;*/
	background-color: #d8e4f8;
}
.helptoptd {
	background-color: #E8C997;
	background-image: url(Helpaccountability02.gif);
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: normal;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	font-style: italic;
}
.helplefttd {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	color: #000000;
	text-decoration: none;
	background-image: url(Helpaccountability06.gif);
	background-repeat: repeat-x;
	border: 1px solid #000000;
	background-color: #557393;
}
.helpmaintd {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #607e9f;
	border: 1px solid #000000;
}

.texttd {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
	text-decoration: none;
	background-color: #607e9f;
}
.photborder {
	border: 1px solid #000000;
}
