<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  
  <appSettings>
    <add key="AccountabilityURL" value="http://mis/accountability_gui/index.aspx" />
    <add key="ServerName" value="Localhost" />
    <add key="HelpURL" value="D:\AccountabilityNotePad\AccountabilityNotePad\bin\Debug\HelpSite\OverView.htm" />
    <add key="FoxProConnection" value="Provider=VFPOLEDB.1;Data Source=\\hamdyahmed\A001_DB\A001.dbc;Collating Sequence=MACHINE;" />
    <add key="AUUAUpdateLocation" value="\\hamdyahmed\ANP Updates\AUUAUpdates" />
    <add key="ANPUpdateLocation" value="\\hamdyahmed\ANP Updates\ANPUpdates" />
    <add key="FoxProUserName" value="hamdyahmed" />
    <add key="FoxProUserPass" value="UHEdMbFCMwtujwUtci8Cpw==" />
  </appSettings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	  <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="600"/>
  </system.web>
</configuration>