html,body
{
	background: #dfdfdf;
	font-family: @Verdana;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
	margin:0; padding:0;
	/*height:100%;*/
}
.GridBackGround
{
	background-color: #c2d7db;
}

.MainfontStyle
{
	font-family: tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}
.WhitefontStyle
{
	font-family: tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
}

.DarkfontStyle
{
	font-family: tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #24517e;
}
.UserLoginStyle
{
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
}

.UserForgotPWDStyle
{
	font-family: tahoma;
	font-size: 12px;
	color: #ffffff;
}

.QuoteBlackfontStyle
{
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color: Black;
}
.SelectedNoteStyle
{
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	background-color: #FFCC66;
	color: #FFCC66;
}

.SelectedRowColor
{
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	background-color: #33cccc;
	color: #000000;
}
.SelectedCellColor
{
	background-color: #1769bb;
}
.GridHeaderBackStyle
{
	background: #050000 url(../Images/accountDetails_35.jpg) repeat-x top;
	font-family: tahoma; /*font-size: 12px;*/
	font-weight: bold;
	color: #ffffff;
	height: 25px;
	white-space: nowrap;
}
.GridRWHeaderBackStyle
{
	background: #010101 url(../Images/RW_table_header.jpg) repeat-x top;
	font-family: tahoma; /*font-size: 12px;*/
	font-weight: bold;
	color: #ffffff;
	height: 25px;
	white-space: nowrap;
}
.GridCyanBackStyle
{
	background-color: #1769bb;
}
.GridHeaderFontStyle
{
	font-family: tahoma; /*font-size: 12px;*/
	font-weight: bold;
	color: #c2d7db;
}

.GridNormalRowsStyle
{
	font-family: tahoma; /*font-size: 12px;*/
	color: #000000;
	background-color: #ffffff;
}
.GridCellStyle
{
	border-width: 1px;
	border-style: solid;
	border-color: #dfdfdf;
}

.GridPagerStyle
{
	font-family: tahoma; /*font-size: 12px;*/
	font-weight: bold;
	color: #000000;
	background-color: #ffffff;
}

.HandOverCursor
{
	cursor: pointer;
}

.listbox
{
	border-right: #667a97 1px solid;
	border-top: #667a97 1px solid;
	border-left: #667a97 1px solid;
	border-bottom: #667a97 1px solid;
	font-weight: normal;
	font-size: 11px;
	font-family: tahoma;
	text-decoration: none;
}

.inputs
{
	border-right: #667a97 1px solid;
	border-top: #667a97 1px solid;
	font-weight: normal;
	font-size: 11px;
	border-left: #667a97 1px solid;
	border-bottom: #667a97 1px solid;
	font-family: tahoma;
	color: #000;
}

.txtinputs
{
	border-right: #667a97 1px solid;
	border-top: #667a97 1px solid;
	font-weight: normal;
	font-size: 11px;
	border-left: #667a97 1px solid;
	border-bottom: #667a97 1px solid;
	font-family: tahoma;
	width: 200px;
}

.button
{
	border-right: #00224c 1px solid;
	border-top: #00224c 1px solid;
	font-weight: normal;
	font-size: 12px;
	border-left: #00224c 1px solid;
	color: black;
	border-bottom: #00224c 1px solid;
	font-family: Verdana;
	height: 20px;
	background-color: #C2D7DB;
	cursor: pointer;
}
.buttonResize
{
	height: 20px;
	cursor: pointer;
}
.pnlPop
{
	background-color: #faf9f4;
	font-family: Tahoma, Helvetica, Sans-Serif;
	font-weight: normal;
	font-size: 11px;
	padding: 5px;
}

.errorItem
{
	display: block;
}

#ZoneWapper
{
	width: 100%;
	clear: both;
	font-size: 0.9em;
	font-weight: 300;
	border: 0;
}
.PartZone
{
	vertical-align: top;
}
#floater
{
	/*position: relative;*/
	/*float: left;*/
	height: 300px;
	margin-top: 25%;
	/*margin-bottom: -150px;*/
	width: 500px;
	margin-left: auto;
	margin-right:auto;
	display: block;		
}

.centered
{
	/*position: relative;
	clear: left;*/
	height: 300px;
	width: 490px;
	/*max-width: 490px;
	min-width: 490px;*/
	margin: 0 auto;
	background: rgb(0,0,0) url(images/loginbg.jpg) no-repeat;
	border: 1px solid #000;
	color: #fff;
	font-size:12px;
	font-family: Verdana;
	display: block;
	
}
.header
{
	display:block;
	/*background:#000;*/
	height:30px;
	vertical-align:middle;
	
	clear:right	;
	}
.footer {
	
}
.ui-layout-content {
	padding:2px;
}
.FixedLayout {
	table-layout:fixed;
}



