<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
	<add key = "ConnectionLocation" value = "D:\Accountability\ERP Workspace\Settings\ConnectionStrings.xml"/>
	<add key = "MaxSessions" value = "20"/>
	<add key = "SessionTimeOut" value = "20"/>
	<add key = "IdleSessionTimeOut" value = "5"/>
	
  </appSettings>
</configuration>
