<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AccountabilityNotePad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AccountabilityNotePad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <AccountabilityNotePad.Properties.Settings>
      <setting name="FileAccessServer" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="ServerName" serializeAs="String">
        <value>accou</value>
      </setting>
      <setting name="ServerUpdatesLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="AccountabilityNotePad_AccountabilityService_AccountabilityService"
        serializeAs="String">
        <value>http://localhost/Accountability_WS/AccountabilityService.asmx</value>
      </setting>
      <setting name="AccountabilityNotePad_MFGAccWS_MFGAccountability"
        serializeAs="String">
        <value>http://localhost/ERPWebServices/SharedPresentation/MFGAccountability.asmx</value>
      </setting>
      <setting name="AccountabilityNotePad_FileAccess_FileAccessService"
        serializeAs="String">
        <value>http://localhost:4717/FileAccessService.asmx</value>
      </setting>
      <setting name="AccountabilityNotePad_SecurityManagement_SecurityManagement"
        serializeAs="String">
        <value>http://mis/Accountability_WS/SecurityManagement.asmx</value>
      </setting>
      <setting name="AccountabilityNotePad_ERPSessionServices_ERPSessionServices"
        serializeAs="String">
        <value>http://localhost/Accountability_WS/ERPSessionServices.asmx</value>
      </setting>
      <setting name="AccountabilityNotePad_EmployeeService_EmployeesService"
        serializeAs="String">
        <value>http://localhost/Accountability_WS/EmployeesService.asmx</value>
      </setting>
      <setting name="AccountabilityNotePad_ERPSessionService_ERPSessionServices"
        serializeAs="String">
        <value>http://localhost/Accountability_WS/ERPSessionServices.asmx</value>
      </setting>
      <setting name="AccountabilityNotePad_SheetWebService_AccountabilityService"
        serializeAs="String">
        <value>http://localhost/Accountability_WS/AccountabilityService.asmx</value>
      </setting>
      <setting name="AccountabilityNotePad_LoginWebService_GUI" serializeAs="String">
        <value>http://localhost/Accountability_WS/GUI.asmx</value>
      </setting>
      <setting name="AccountabilityNotePad_EmployeesService_EmployeesService"
        serializeAs="String">
        <value>http://localhost/Accountability_WS/EmployeesService.asmx</value>
      </setting>
      <setting name="AccountabilityNotePad_GUI_GUI" serializeAs="String">
        <value>http://localhost/Accountability_WS/GUI.asmx</value>
      </setting>
      <setting name="AccountabilityNotePad_FoxProService_FoxProSrv"
        serializeAs="String">
        <value>http://localhost/maingui/FoxProSrv.asmx</value>
      </setting>
      <setting name="AccountabilityWebServiceURL" serializeAs="String">
        <value>/Accountability_WS/</value>
      </setting>
      <setting name="AccountabilityNotePad_AccRoutingServer_RoutingService"
        serializeAs="String">
        <value>http://localhost/maingui/AccRouting.asmx</value>
      </setting>
      <setting name="StartUpApplication_RegKeyName" serializeAs="String">
        <value>HKEY_LOCAL_MACHINE\SOFTWARE\Accountability Notepad</value>
      </setting>
      <setting name="StartUpApplication_RegValueName" serializeAs="String">
        <value>StartUpApplication</value>
      </setting>
    </AccountabilityNotePad.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <AccountabilityNotePad.Properties.Settings>
      <setting name="UNAP" serializeAs="String">
        <value />
      </setting>
      <setting name="HideApp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MFGMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LinkDialogURLs" serializeAs="String">
        <value />
      </setting>
    </AccountabilityNotePad.Properties.Settings>
  </userSettings>
</configuration>