<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<CONFIGURDATA id="1" name="ConfigurationData" >
    <ConnectionLocation>D:\App\TFS_Applications\AccountabilityV2\Accountability_WS\Configurations\ConnectionStrings.xml</ConnectionLocation>
	<MaxSessions>2000</MaxSessions> 
	<SessionTimeOut>200</SessionTimeOut> 
	<IdleSessionTimeOut>5</IdleSessionTimeOut>
</CONFIGURDATA>

</configuration>